{% extends "corehome/base.html" %}
{% load static %}

{% block content %}
<div class="mt-5">
  <div class="text-center">
    <img src="{% static 'corehome/image/MrRobotHack.jpg' %}" alt="ProfilePic"
    class="img-thumbnail" width="250px" height="150px">
  </div>
  <div class="mt-3 text-white mx-5 text-justify">
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4" style="line-height:2rem;">
      <p style="text-indent:100px;">I am <b class="text-warning">Mosaraf Hossain</b>I have been working in this fild, i mean to say, I have learnt few computer Programing lunguages 
        and I love to learn new things and if i get some error during studing then i get boring and want to leave the point, don't 
        matter ether it crucial or not, and when i get fun while learn new topic then i also feel happy
      </p>
      <p>Since woring in the office gratually i got to know about value of <b>EDUCATION,</b>Then again i tried to get admission in high school, So finally i go admission in <b class="text-warning">NIOS</b>, 
        So i have decided in my mind i never ever leave the study again, untill something is not happing with me.
      </p>
    </div>
  </div>
  <div class="text-center">
    <a href="/contact/" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
    <a href="/contact/" class="btn btn-outline-info my-3 mr-5">Contact</a>
  </div>
</div>
{% endblock content %}





