<!DOCTYPE html>
<html>
<head>
<title>PsychologyExam</title>
<style>
/* This is a single-line comment */
h1 {
  color: red;
} 
</style>
</head>
<body>

<h1>According to Piaget, how does cognitive development take place</h1>
<p>To Piaget, cognitive development was a progressive reorganization of mental processes as a result of biological maturation and environmental experience. Children construct an understanding of the world around them, then experience discrepancies between what they already know and what they discover in their environment..</p>

</body>
</html>