{% load static %}
<html>   
<head>
    <link rel='stylesheet' href="{% static "css/index.css" %}">
</head>
<body>     
<article class="all-browsers">
<h1 style="text-align: center; color:blue;"><i>Heart Speech of my Village.</i><h1>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">TechGenies</h2>
    <p>Need to write something about it</p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">Reperio</h2>
    <p>There also have to write some things about it</p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">MarketCube</h2>
    <p>Ought to put somethings about this office</p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">PrivateGas</h2>
    <p>There also have to write some things about it</p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">TenHotels</h2>
    <p>Ought to put somethings about this office</p>
</article>
</article>   
 
<footer>
    <div class="text-center mt-5">
        <a href="#" target="_blank"><i class="fab fa-twitter i-color mr-15"></i></a>
        <a href="#" target="_blank"><i class="fab fa-facebook-f i-color mr-15"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram i-color mr-15"></i></a>
        <a href="#" target="_blank"><i class="fab fa-dribbble i-color mr-15"></i></a>
    </div>
</footer>
<script src="{% static "corehome/js/bootstrap.js" %}"></script>
<script src="{% static "corehome/js/jquery.js" %}"></script>
<script src="{% static "corehome/js/popper.js" %}"></script>
<script src="{% static "corehome/js/all.min.js" %}"></script>

</body>
</html>