{% load static %}
<html>   
<head>
    <link rel='stylesheet' href="{% static "css/index.css" %}">
</head>
<body>     
<article class="all-browsers">
<h1 style="text-align: center; color:blue;"><i>Few words of these office.</i><h1>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">TechGenies</h2>
    <p>TechGenies is a world-class technology and IT staffing partner. See how our innovative software solutions and IT professionals empower companies.</p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">Reperio</h2>
    <p> Reperio, founded in 2014, in New Delhi, India, is an innovative, entrepreneurial, client-focused organization, providing solutions to market research firms </p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">MarketCube</h2>
    <p> Collaborative commerce is a way for multiple businesses to work together to offer more choice and value to the end customers whilst reducing operational overheads and costs </p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">PrivateGas</h2>
    <p>Families or individuals who are settled in cities or towns only for a short while majorly rely on private LPG distributors. </p>
</article>
<article class="browser">
    <h2 style="color:tomato; font-size:35px;">TenHotels</h2>
    <p>TenHotels Has Been Recognized as the World’s Leading Hotel Booking Website by Travel Awards</p>
</article>
</article>   
 
<footer>
    <div class="text-center mt-5">
        <a href="#" target="_blank"><i class="fab fa-twitter i-color mr-15"></i></a>
        <a href="#" target="_blank"><i class="fab fa-facebook-f i-color mr-15"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram i-color mr-15"></i></a>
        <a href="#" target="_blank"><i class="fab fa-dribbble i-color mr-15"></i></a>
    </div>
</footer>
<script src="{% static "corehome/js/bootstrap.js" %}"></script>
<script src="{% static "corehome/js/jquery.js" %}"></script>
<script src="{% static "corehome/js/popper.js" %}"></script>
<script src="{% static "corehome/js/all.min.js" %}"></script>

</body>
</html>