<ul>
    <li><a href="/">Home</a></li>
    <li><a href="school/">schoool</a></li>
    <li><a href="https://github.com/vulhub/vulhub" target="_blank">vulhub</a></li>
    <li><a href="https://github.com" target="_blank">github</a></li>
    <li><a href="#">Null</a></li>
    <li type="li" onclick="document.getElementById('time').innerHTML = Date()"><a href="#">Time-India</a></li>
    <li><a href="psychology/">psychology</a></li>
    <li><a href="#">Null</a></li>
    <li><a href="#">Null</a></li>
    <li><a href="#">Null</a></li>
  </ul>


{% comment %} If We want to show full screen and if you will scroll down then you can see it,
  id="navbar" {% endcomment %}
  {% comment %} <script>
    // When the user scrolls down 20px from the top of the document, slide down the navbar
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-50px";
      }
    }
    </script> {% endcomment %}

















