{% extends "corehome/base.html" %}

{% block content %}

<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">WORKED</h1>

    <div class="row text-white mb-3 text-center">
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color"> I've developed only few websites that are all mine, and I keep updating this one as well. </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-earth-africa fa-2x i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color"> I have first-hand knowledge of this work because I did it!</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x i-color"></i>
            <h3>Support</h3>
            <p class="ss-color"> Work With Team And Change the world!</p>
        </div>
    </div>
</div>

{% endblock content %}